<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Natureza</th>
      <th scope="col">Descrição</th>
      <th scope="col">Valor</th>
      <th scope="col">Cartão</th>
      <th scope="col">Hora</th>
      <th scope="col">Dono da loja</th>
      <th scope="col">Nome da loja</th>
    </tr>
  </thead>
  <tbody>
    <% @cnabs.each do |cnab| %>
    <tr>
      <td class="<%= cnab.tipo.entrada? ? 'table-success' : 'table-danger' %>"><%= cnab.tipo.natureza.capitalize %></td>
      <td><%= cnab.tipo.descricao %></td>
      <td><%= ActionController::Base.helpers.number_to_currency(cnab.valor, unit: "R$ ") %></td>
      <td><%= cnab.cartao %></td>
      <td><%= cnab.hora %></td>
      <td><%= cnab.dono_loja %></td>
      <td><%= cnab.nome_loja %></td>
    </tr>
    <%end %>
  </tbody>
</table>